@charset "UTF-8";

html , body {
    height: 100%;
    margin: 0px;
    font-size: 16px;
}
body {
    display: flex;
    justify-content: center;
    align-items:  center;
    background: url('../img/wow.png') bottom center no-repeat;
    background-size: cover;
    font-size: 1em;
}
h1{
    font-size:2em;
    text-align: center;
    color: #fff;
}
.centered {
  padding: 0 3.125em;
  font-family: 'Kaushan Script', cursive;
  background: #f16059;
  }
@media screen and (min-width: 786px) {
  h1 {
    font-size: 3em;
    color:green;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4em;
    color:#fff;
    display: flex;
  }
}
